@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Jost', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease;
}

.swiper-slide {
  min-width: 100%;
  user-select: none;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  width: 100%;
}

.swiper-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #999;
  cursor: pointer;
}

.swiper-dot.active {
  background: #000;
}